:root {
	--skyblue: #0d6efd;
	--white: #fff;
	--semiwhite: #f7f7f7;
	--lightgray: #f1f1f1;
	--gray: #bebebe;
	--black: #333;
	--tn-duration: 0.15s;
}
.skyblue {
	color: var(--skyblue) !important;
}
.skyblue-hover {
	transition: color var(--tn-duration) ease-in-out 0s;
	&:hover {
		color: var(--skyblue) !important;
	}
}
.skyblue-bg {
	background-color: var(--skyblue) !important;
}
.skyblue-bg-hover {
	transition: background-color var(--tn-duration) ease-in-out 0s;
	&:hover {
		background-color: var(--skyblue) !important;
	}
}
.skyblue-border {
	border: 1px solid var(--skyblue) !important;
}
.white {
	color: var(--white) !important;
}
.white-hover {
	transition: color var(--tn-duration) ease-in-out 0s;
	&:hover {
		color: var(--white) !important;
	}
}
.white-bg {
	background-color: var(--white) !important;
}
.white-bg-hover {
	transition: background-color var(--tn-duration) ease-in-out 0s;
	&:hover {
		background-color: var(--white) !important;
	}
}
.white-border {
	border: 1px solid var(--white) !important;
}
.semiwhite {
	color: var(--semiwhite) !important;
}
.semiwhite-hover {
	transition: color var(--tn-duration) ease-in-out 0s;
	&:hover {
		color: var(--semiwhite) !important;
	}
}
.semiwhite-bg {
	background-color: var(--semiwhite) !important;
}
.semiwhite-bg-hover {
	transition: background-color var(--tn-duration) ease-in-out 0s;
	&:hover {
		background-color: var(--semiwhite) !important;
	}
}
.semiwhite-border {
	border: 1px solid var(--semiwhite) !important;
}
.lightgray {
	color: var(--lightgray) !important;
}
.lightgray-hover {
	transition: color var(--tn-duration) ease-in-out 0s;
	&:hover {
		color: var(--lightgray) !important;
	}
}
.lightgray-bg {
	background-color: var(--lightgray) !important;
}
.lightgray-bg-hover {
	transition: background-color var(--tn-duration) ease-in-out 0s;
	&:hover {
		background-color: var(--lightgray) !important;
	}
}
.lightgray-border {
	border: 1px solid var(--lightgray) !important;
}
.gray {
	color: var(--gray) !important;
}
.gray-hover {
	transition: color var(--tn-duration) ease-in-out 0s;
	&:hover {
		color: var(--gray) !important;
	}
}
.gray-bg {
	background-color: var(--gray) !important;
}
.gray-bg-hover {
	transition: background-color var(--tn-duration) ease-in-out 0s;
	&:hover {
		background-color: var(--gray) !important;
	}
}
.gray-border {
	border: 1px solid var(--gray) !important;
}
.black {
	color: var(--black) !important;
}
.black-hover {
	transition: color var(--tn-duration) ease-in-out 0s;
	&:hover {
		color: var(--black) !important;
	}
}
.black-bg {
	background-color: var(--black) !important;
}
.black-bg-hover {
	transition: background-color var(--tn-duration) ease-in-out 0s;
	&:hover {
		background-color: var(--black) !important;
	}
}
.black-border {
	border: 1px solid var(--black) !important;
}
.transparent {
	color: transparent !important;
}
.transparent-hover {
	transition: color var(--tn-duration) ease-in-out 0s;
	&:hover {
		color: transparent !important;
	}
}
.transparent-bg {
	background-color: transparent !important;
}
.transparent-bg-hover {
	transition: background-color var(--tn-duration) ease-in-out 0s;
	&:hover {
		background-color: transparent !important;
	}
}
.transparent-border {
	border: 1px solid transparent !important;
}
