@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./partial/colors";

:root {
	--nav-height: initial;
}

html,
body {
	overflow-x: hidden !important;
	min-height: 100vh;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: #f1f1f1;
}

.ls-none {
	list-style: none;
}
.cursor-pointer {
	cursor: pointer !important;
}
.overflow-hidden {
	overflow: hidden !important;
}
.overflow-x-hidden {
	overflow-x: hidden !important;
}
.overflow-y-hidden {
	overflow-y: hidden !important;
}
.no-underline,
.no-underline * {
	text-decoration: none !important;
}
