// Bootrap imports
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Custom utilities
@import "./partial/custom-utilities";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./partial/colors";

html,
body {
	overflow-x: hidden !important;
	min-height: 100vh;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: #f1f1f1;
}

.wrapper {
	height: 100vh;
}

.ls-none {
	list-style: none;
}
.cursor-pointer {
	cursor: pointer !important;
}

.overflow-hidden {
	overflow: hidden !important;
}
.overflow-x-hidden {
	overflow-x: hidden !important;
}
.overflow-y-hidden {
	overflow-y: hidden !important;
}
.no-underline,
.no-underline * {
	text-decoration: none !important;
}
.fw-medium {
	font-weight: 500 !important;
}
